@charset "utf-8";

/* reset */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

body {background: #000;}

/* wrapper */
.wrapper {max-width: 1200px; margin: 0 auto; background: #fff; height: 500px;}

header {background: gray; width: 100%;}
.h_logo {overflow: hidden; width: 100%;}
	.h_logo .logo {float: left; width: 16.66666666666667%; margin: 0.2%;} /* 200/1200 */
	.h_logo .logo img {max-width: 100%;}

	.h_logo .social {float: left; width: 16.66666666666667%; margin: 5% 0.2% 5% 49%;} /* 200/1200 */
	.h_logo .social ul {}
	.h_logo .social li {display: inline-block; width: 20px; text-align: center; margin-right: 5%;}
	.h_logo .social  a {display: block; position: relative; text-decoration: none; color: #000;} 

	.h_logo .search {float: right; width: 16.66666666666667%; margin: 5% 0.2%;} /* 200/1200 */
	.h_logo .search input {max-width: 100%; width: 200px;}


.nav {width: 100%;}
	.nav ul {font-size: 1.2em; width: 50%; margin: 0 auto;}
	.nav li {display: inline-block; text-align: center; padding: 0 1%; border-right: 1px solid #000;}
	.nav a {display: block; position: relative; text-decoration: none; color: #000;}


	
	











