@charset "utf-8";

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

/* media */
@media only screen and (max-width: 800px) {
	.hLogo .social {display: none;}
	.hLogo .search {display: none;}
	.hLogo .logo {}
}

@media only screen and (max-width: 480px) {
	.nav {display: none;}
} 

body {background: #000;}

/* wrapper */
.wrapper {max-width: 1200px; margin: 0 auto; background: #fff; height: 500px;}

header {background: gray; width: 100%;}
.hLogo {overflow: hidden; width: 100%;}
	.hLogo .logo {float: left; width: 20em; margin: 0.5em;} /* 200/16 */
	.hLogo img {max-width: 100%;}

	.hLogo .social {float: right; width: 10em; margin: 2em 0;} /* 200/16 */
	.hLogo .social ul {text-align: center;}
	.hLogo .social li {display: inline-block; margin-right: 1em;}
	.hLogo .social a {display: block; position: relative; text-decoration: none; color: #000;} 

	.hLogo .search {float: right; width: 12.5em; margin: 2em 3em;} /* 200/16 */
	.hLogo .search input {max-width: 100%; width: 200px;}


.nav {width: 100%;}
	.nav ul {font-size: 1.2em; width: 50%; margin: 0 auto; text-align: center;}
	.nav li {display: inline-block; padding: 0 0.5em; border-right: 0.1em solid #000;}
	.nav a {display: block; position: relative; text-decoration: none; color: #000;}


	
	











