@charset "utf-8";

/* reset by medic */
* {padding:0; margin:0;}
img {border:0 none;}
div {display:block; position:relative;}
ul {list-style: none;}
.hidden {display: none;}
.clr:after {display:none; position:relative; content:' '; color:transparent; font-size:0; line-height:0; clear:both;}

/* clearfix */
.clearfix:before,  
.clearfix:after {content: " "; display: block;}  
.clearfix:after {clear: both;}  
.clearfix {*zoom: 1;}


body {background: #000;}


/* wrapper */
.wrapper {max-width: 1200px; margin: 0 auto; background: #fff;}

/* header */
header {background-color: #fff; width: 100%;}
.hLogo {overflow: hidden; width: 100%;}
	.hLogo .logo {float: left; width: 20em; margin: 0.5em;} /* 200/16 */
	.hLogo a {max-width: 100%; height: auto;}
	.hLogo img {max-width: 100%; height: auto;}

	.hLogo .social {float: right; width: 10em; margin: 2em 0;} /* 200/16 */
	.hLogo .social ul {text-align: center;}
	.hLogo .social li {display: inline-block; margin-right: 1em;}
	.hLogo .social a {display: block; position: relative; text-decoration: none; color: #000;} 

	.hLogo .search {float: right; width: 12.5em; margin: 2em 3em;} /* 200/16 */
	.hLogo .search input {max-width: 100%; width: 200px;}


nav {height: 40px; width: 100%; background: #fff; font-size: 1.2em; font-weight: bold; border-bottom: 1px solid #000; border-top: 1px solid #000;}  
	nav ul {margin: 0 auto; width: 730px; height: 40px;}
	nav li {display: inline-block;}
	nav a {color: #000; display: inline-block; width: 100px; text-align: center; text-decoration: none; line-height: 40px;}
	nav li a {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	nav a:hover, nav a:active {background-color: gray;}
	nav a#pull {display: none;}

/* content */
.content {background: #fff; width: 100%; padding-top: 2em;}

/* popular */
.popular_wrapper {width: 100%;}
	.popular_wrapper ul {text-align: center; margin: 0 auto; width: 100%; height: auto; overflow: hidden;}
	.popular_wrapper li:last-child {margin-right: 0em;}
	.popular_wrapper li {display: block; position: relative; float: left; height: 100%;}
	.popular_wrapper li a {width: 100%; text-decoration: none; color: #000;}
	.popular_wrapper li a:hover {text-decoration: underline;}
	.popular_wrapper li a img {max-width: 100%;}
		
		.thumbs_big_wrapper {padding-bottom: 2em;}
		.thumbs_big_wrapper li {margin-right: 0.2em; width: 49.6%;}
		.thumbs_big_wrapper h2 {margin-top: -3.125em; font-size: 1em;}

		.thumbs_small_wrapper {padding-bottom: 1em;}
		.thumbs_small_wrapper li {margin-right: 0.1em; width: 33.1%;}
		.thumbs_small_wrapper h2 {margin-top: -3.125em; font-size: 0.9em;}

/* section (common for music, comics, games) */
.content_section_wrapper {width: 100%; margin: 2em 0em;}
	.section_header {width: 100%; background-color: #c7c5c5; height: 3em;}
		.section_head_name {width: 8em; background-color: #afadad;}
		.section_head_name a {text-transform: uppercase; line-height: 3em; text-align: center; text-decoration: none; color: #000; margin-left: 1.5em; cursor: pointer; font-weight: bold;}
		.section_head_name a:hover {text-decoration: underline;}

	.section_content {width: 100%; overflow: hidden; margin-top: 1em; /*max-height: 450px;*/}
		.section_column {display: block; position: relative; float: left; width: 24.5%; padding: 0 0.25%; height: 100%;}
		.section_column a {width: 100%; text-decoration: none; color: #000;}
		.section_column a:hover {text-decoration: underline;}
		.section_column a img {max-width: 100%;}

		.section_column .column2 {height: 100%; width: 100%; max-height: 224px; margin-bottom: 1%;}
		.section_column .column2 a img {max-width: 100%;}
		.section_column .column2:last-child {margin-bottom: 0%;}

		.section_column .column3 {height: 100%; width: 100%; max-height: 145px; margin-bottom: 1%;}
		.section_column .column3 a img {max-width: 100%;}
		.section_column .column3:last-child {margin-bottom: 0%;}

		.section_column_big {display: block; position: relative; float: left; width: 49.5%; padding: 0 0.25%; height: 100%;}
		.section_column_big .column2hor {height: 100%; width: 100%; max-height: 224px; margin-bottom: 1%; overflow: hidden;}
		.section_column_big .column2hor a img {max-width: 100%;}
		.section_column_big .column2hor:last-child {margin-bottom: 0%;}

		.section_column_big .column2hor .culumn2hor_small {float: left; height: 100%; width: 49.5%; max-height: 224px; max-width: 296px; margin-right: 1%;}
		.section_column_big .column2hor .culumn2hor_small a img {max-width: 100%;}
		.section_column_big .column2hor .culumn2hor_small:last-child {margin-right: 0%;}

/* footer */
footer {width: 100%; overflow: hidden; padding: 2em 0; border-top: 1px solid #000;}
	.footer_column {display: block; position: relative; float: left; width: 100%; max-width: 224px; margin: 0 0.5em;}
	.footer_column a {}
	.footer_column a img {max-width: 100%; height: auto;}

	.footer_column .f_social ul {text-align: center; width: 100%;}
	.footer_column .f_social li {display: inline-block; margin-right: 1em;}
	.footer_column .f_social a {display: block; position: relative; text-decoration: none; color: #000;}
	.footer_column .f_copyright {margin-top: 2em; text-align: center;}



/* media */
@media screen and (max-width: 1058px) {
	.thumbs_big_wrapper h2 {margin-top: -4em;}
}


@media screen and (max-width: 800px) {  
    
    .hLogo .social {display: none;}
	.hLogo .search {display: none;}

    nav {height: auto;}  
/*    	nav ul {width: 100%; display: block; height: auto;}  */
    	nav li {width: 100%; display: block;} /* float: left; position: relative; for two columns */  
    	nav li a {border-bottom: 1px solid #576979; border-right: 1px solid #576979;}  
    	nav a {text-align: left; width: 100%; text-indent: 25px;}
    nav {border-bottom: 0;}  
    	nav ul {display: none; height: auto;}  
    	nav a#pull {display: block; background-color: gray; width: 100%; position: relative;}  
    	nav a#pull:after {content:""; background: url('../img/nav-icon.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px; top: 10px;}  

    .thumbs_small_wrapper h2 {font-size: 0.7em;}
}

@media only screen and (max-width: 480px) {  
    nav {border-bottom: 0;}  
    	nav ul {display: none; height: auto;}  
    	nav a#pull {display: block; background-color: gray; width: 100%; position: relative;}  
    	nav a#pull:after {content:""; background: url('../img/nav-icon.png') no-repeat; width: 30px; height: 30px; display: inline-block; position: absolute; right: 15px; top: 10px;}

    .popular_wrapper li {width: 100%; margin-right: 0em;}

    	.thumbs_big_wrapper {padding-bottom: 0em;}
    	.thumbs_big_wrapper h2 {margin-top: 0; font-size: 0.8em;}

    	.thumbs_small_wrapper h2 {margin-top: 0; font-size: 0.8em;}
}


@media only screen and (max-width: 320px) {  
    nav li {display: block; float: none; width: 100%;}  
    nav li a {border-bottom: 1px solid #000;}  
}











